* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cl-light: #ffffff;
    --cl-dark: #2b2b2b;
    --cl-primary: #00ad03;
    --cl-border: #767676;
}

body {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#585757, 30%, #2b2b2b);
    color: var(--cl-light);
    padding: 25px;
    font-family: sans-serif;
    font-size: 18px;
}

section {
    text-align: center;
}
  
select {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--cl-border);
    background: var(--cl-dark);
    color: var(--cl-light);
}

button {
    margin: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid var(--cl-border);
    border-radius: 0.8rem;
    background: var(--cl-primary);
    color: var(--cl-light);
    cursor: pointer;
}

button:active {
    transform: scale(97%);
}

h1 {
    font-size: 2.6rem;
    margin: 1rem;
}

h2 {
    font-size: 1.25rem;
}

label {
    font-size: 1rem;
}

/* .result-section {
    width: 438px;
} */

.result-box {
    background: var(--cl-dark);
    width: 438px;
    min-height: 55px;
    padding: 1rem;
    border: 1px solid var(--cl-border);
    border-radius: 0.5rem;
}

.result {
   color: var(--cl-border);
}

.input-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.input-container > div {
    margin: 0.5rem;
}

@media only screen and (max-width: 500px) {
    .result-box {
        width: 82vw;
    }
}

@media only screen and (max-width: 380px) {
    .input-container {
        flex-flow: column;
    }
}
